/* .BodyContainerSection{
    height: 120vh;
    width: 100vw;
    
} */



#BodyContainerLandingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
}
.BodyContainerSection{
    height: 100%;
    width: 80%;

    
}

@media screen and (max-width:950px) {
    .BodyContainerSection{
        width: 95%;
        
    }
    
}
