#LadingPageSection6Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2rem;

    margin: 10vh  auto ;
    width: 100%;
    height: 100%;
    color: #1E1E1E;
    
}

#LadingPageSection6ContainerLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    gap: 2rem;
    width: 100%;
    max-width: 380px;
    
}

#LadingPageSection6ContainerLeftLogo{
    font-size: 60px;
    
    font-family: 'Lemon/Milk', sans-serif;
    color: #DC277D;
}

#LadingPageSection6ContainerLeftImage{
    max-width: 380px;
    width: 100%;      
}


#LadingPageSection6ContainerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
    gap: 2.5rem;
    height: 100%;
    width: 100%;
    max-width: 750px;
}


#LadingPageSection6ContainerTittle{
    font-family: 'Lemon/Milk', sans-serif;
    margin: 1rem 0;
}

#LadingPageMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
#LadingPageMap iframe{
    border-radius: 42px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border: solid 6px white;
}
#LadingPageSection6ContainerRightText{
    font-size: 20px;
    font-family: "Urbanist", sans-serif;
    line-height: 1.8;
    text-align: center;

}

#LadingPageSection6ContainerRightSocialContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    opacity: 40%;
}

@media screen and (max-width:400px) {
    #LadingPageSection6ContainerTittle{
        font-size: 30px;
    }


}
