#CardMascotaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    border-radius: 55px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#CardMascotaImage{
    height: auto;
    width: 100%;
    max-width: 140px;
    border-radius: 55px;
}

#CardMascotaNombre{
    color: #000000;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;

    text-align: center;

}

#CardMascotaTemperamento{
    color: #525252;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 20px;

    text-align: center;
}

#CardMascotaDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;

}