.container-form {
  padding-top: 8rem;
  width: 80%;
  margin-left: 7rem;
  background: #f3edb4;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem ;
  margin-bottom: 4rem;
  margin-left: 11rem;
}

.FomularioAdopcion {
    width: 75%;
    
}

form .container-lable-input {
    margin-top: 1rem;
}




form .container-lable-input input {
    width: 100%;
    height: 3.25rem;
    background: #ffffff;
    border: none;
    border-radius: 25px;
    margin-top: 1rem;
    padding-left: 1rem;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
}

.button-form{
    background: #F0CADB;
    width: 372px;
    height: 53px;
}


.container-form h1 {
  color: black;
}

/* Estilo para el select */
select {
    /* Ancho */
    width: 100%;
    /* Altura */
    height: 40px;
    /* Borde */
    border: 1px solid #ccc;
    /* Borde redondeado */
    border-radius: 5px;
    /* Padding */
    padding: 5px;
    /* Fuente */
    font-size: 16px;
    /* Color del texto */
    color: #333;
    /* Fondo */
    background-color: #fff;
    /* Apariencia del cursor */
    cursor: pointer;
  }
  
  /* Estilo para las opciones del select */
  select option {
    /* Color del texto */
    color: #333;
    /* Fondo */
    background-color: #fff;
  }
  
  /* Estilo para la flecha del select */
  select::-ms-expand {
    display: none;
  }
  
  /* Pseudo-clase para el foco */
  select:focus {
    /* Estilo al tener el foco */
    border-color: #007bff; /* Cambia el color del borde al tener el foco */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Agrega un efecto de sombra al tener el foco */
  }

  /* Errors */

  .errors{
    margin: 1rem;
    width: 10rem;
    background: red;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }